* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: #ffffff;
}

#gif-container {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

#gif-img {
  width: 100%;
}

p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: black;
}

button {
  position: absolute;
  top: 70%; /* Adjust the position as needed */
  left: 40%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 128px;
  font-size: 32px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px black;
  color: #fff;
  background: #000;
  cursor: pointer;
  z-index: 2; /* Ensure buttons are on top of the GIF */
}

#yes-btn {
  left: 60%; /* Adjust the position as needed */
}